<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini blog - adding tags</title>

    <!--BOOTSTRAP-->
    <link rel='stylesheet' href='webjars/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--END BOOTSTRAP-->

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div>
                <h3>Add Tag to The post</h3>
                <!--<form th:action="@{/addTag}" method="post">-->
                    <!--<input type="text" th:name="tagId" placeholder="TagId...">-->
                    <!--<br>-->
                    <!--<input th:type="hidden" th:name="postId" placeholder="PostId...">-->
                    <!--<br>-->
                    <!--<input th:type="submit" value="Add Tag!">-->
                <!--</form>-->

                    <form th:action="@{'/post/' + ${post.id} + '/addTag'}" method="post">
                        <input type="hidden" name="postId" th:value="${post.id}">
                        <input type="text" th:name="tagId" placeholder="TagId...">
                        <br>
                        <input th:type="submit" value="Add Tag!">
                    </form>
                </div>

                <div>
                <h3>My tags:</h3>
                    <table>
                        <tr>
                            <th>Id: </th>
                            <th>TagName: </th>
                        </tr>
                        <tr th:each="tag : ${tags}">
                            <td th:text="${tag.id}"/>
                            <td th:text="${tag.tagName}"/>
                        </tr>
                    </table>
                </div>

                <div>
                    <h3>Add new Tag</h3>
                    <form th:action="@{/newTag}" method="post">
                        <input type="text" th:name="tagName" placeholder="Tag Name...">
                        <br>
                        <input th:type="submit" value="Add New Tag!">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>