<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini blog</title>

    <!--BOOTSTRAP-->
    <link rel='stylesheet' href='webjars/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--END BOOTSTRAP-->


</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center"><img
                src="https://upload.wikimedia.org/wikipedia/commons/6/6f/1328101995_Logout.png" alt="logout_file"></div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center">
            You need to be login :) !
            <br>
            <a href="/login">Login</a> or
            <a href="/register">Register</a>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

</body>
</html>